{% extends 'layouts/dashboard_base.html.twig' %}

{% block page_title %}WasteWise TN - Planning{% endblock %}
{% block header_user_role %}Partenaire{% endblock %}

{% block sidebar %}
<li class="nav-item"><a class="nav-link" href="{{ path('partenaire_dashboard') }}"><i class="fa-solid fa-house"></i> Accueil</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path('partenaire_collectes') }}"><i class="fa-solid fa-truck"></i> Collectes assignees</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path('partenaire_zones') }}"><i class="fa-solid fa-map-location-dot"></i> Zones de collecte</a></li>
<li class="nav-item"><a class="nav-link active" href="{{ path('partenaire_planning') }}"><i class="fa-solid fa-calendar-check"></i> Planning</a></li>
<li class="nav-item"><a class="nav-link" href="{{ path('partenaire_parametres') }}"><i class="fa-solid fa-gear"></i> Parametres</a></li>
{% endblock %}

{% block content %}
<div class="hero">
    <h2>Planning des collectes</h2>
    <p>Organisez vos prochaines interventions.</p>
</div>
<div class="big-card">
    <h4>Liens utiles</h4>
    <div class="d-flex gap-2 flex-wrap">
        <a href="{{ path('partenaire_collectes') }}" class="btn-green d-inline-block text-decoration-none">Ouvrir les collectes</a>
        <a href="{{ path('partenaire_parametres') }}" class="btn-outline-custom d-inline-block text-decoration-none">Regler les parametres</a>
    </div>
</div>
{% endblock %}

