{% extends 'auth/base_auth.html.twig' %}
{% block title %}Nouveau mot de passe | WasteWise TN{% endblock %}

{% block body %}
<main class="min-vh-100 d-flex align-items-center auth-page">
  <div class="container" style="max-width: 520px;">
    <div class="auth-card-advanced">

      <h2 class="text-center mb-3">Nouveau mot de passe</h2>

      {# ✅ Afficher expiration seulement si existe #}
      {% if expiresAt is defined %}
        <p class="text-muted text-center mb-4">
          Ce lien expire le :
          <strong>{{ expiresAt|date('d/m/Y H:i') }}</strong>
        </p>
      {% endif %}

      {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button class="btn btn-success w-100 mt-2">
          Mettre à jour
        </button>
      {{ form_end(form) }}

    </div>
  </div>
</main>
{% endblock %}